@model MvcCrud.Models.Dto.CategoriesModel

@{
	ViewBag.Title = "Guncelle";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Guncelle</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

<div class="form-horizontal">
	<h4>CategoriesModel</h4>
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<div class="form-group">
		@Html.LabelFor(m => m.categories.CategoryName, htmlAttributes: new { @class = "control-label cod-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(m => m.categories.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.categories.Description, htmlAttributes: new { @class = "control-label cod-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(m => m.categories.Description, new { htmlAttributes = new { @class = "form-control" } })
		</div>
	</div>
</div>

<div class="form-group">
	<div class="alert alert-success" role="alert">
		<strong><input type="submit" value="Save" class="btn btn-default" /></strong>
	</div>
	
</div>
	
}

<p>
	<div class="alert alert-warning" role="alert">
		<strong>@Html.ActionLink("Listeye Geri Dön", "Liste")</strong>
	</div>
	@*Listeye Geri Don*@

</p>
